:root {
  --main-color: #009688;
  --second-color: burlywood;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 1170px;
  margin: auto;
  padding-inline: 15px;
  max-width: 100%;
}

/*start setting box */
.setting-box {
  position: fixed;
  background-color: #ffffff54;
  width: 250px;
  height: 100vh;
  top: 0;
  left: -250px;
  /* left: 0; */
  z-index: 100;
  transition: 0.3s;
}
.setting-box.open {
  left: 0;
}
.setting-box .toggle-setting {
  position: absolute;
  right: 0;
  cursor: pointer;
  top: 50%;
  right: -32px;
  background-color: white;
  text-align: center;
  border-radius: 40%;
}
.setting-box .toggle-setting i {
  padding: 8px;
}

.setting-box .option-box {
  padding: 20px;
  background-color: #eee;
  margin: 15px 16px;
  border-radius: 9%;
  text-align: center;
}
.option-box h4 {
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
  color: #666;
}
.option-box .colors-list {
  list-style: none;
  text-align: center;
  padding: 0;
}
.option-box .colors-list-two {
  list-style: none;
  text-align: center;
  padding: 0;
}

.option-box .colors-list li {
  width: 20px;
  display: inline-block;
  cursor: pointer;
  height: 20px;
  /* background-color: black; */
  border-radius: 40%;
  opacity: 0.5;
  transition: 0.6s;
  margin-inline: 5px;
}
.option-box .colors-list-two li {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: black;
  border-radius: 40%;
  display: inline-block;
  margin-inline: 5px;
  opacity: 0.5;
  transition: 0.6s;
}

.option-box .colors-list li:hover {
  border: 2px solid var(--main-color);
}
.option-box .colors-list-two li:hover {
  border: 2px solid var(--second-color);
}
.option-box .colors-list-two li.active {
  opacity: 1;
}

.option-box .colors-list li.active {
  opacity: 1;
  border: 1px solid black;
}
.option-box .colors-list li:first-child {
  background-color: #009688;
}
.option-box .colors-list li:nth-child(2) {
  background-color: #8bc34a;
}
.option-box .colors-list li:nth-child(3) {
  background-color: #607d8b;
}
.option-box .colors-list li:nth-child(4) {
  background-color: #ff9800;
}
.option-box .colors-list li:nth-child(5) {
  background-color: #03a9f4;
}
/*/////////////////////*/

.option-box .colors-list-two li:first-child {
  background-color: burlywood;
}
.option-box .colors-list-two li:nth-child(2) {
  background-color: #ffeb3b;
}
.option-box .colors-list-two li:nth-child(3) {
  background-color: #ff9800;
}
.option-box .colors-list-two li:nth-child(4) {
  background-color: #9e9e9e;
}
.option-box .colors-list-two li:nth-child(5) {
  background-color: #f44336;
}

.setting-box .option-box .yes,
.setting-box .option-box .no {
  width: 60px;
  background-color: #333;
  color: white;
  margin: 10px;
  padding: 5px;
  font-weight: bold;
  opacity: 0.5;
  display: inline-block;
  margin-bottom: 10px;
  cursor: pointer;
}
.setting-box .random-background span.active {
  opacity: 1;
}
.setting-box .option-box .yes {
  background-color: green;
}
.setting-box .option-box .no {
  background-color: red;
}

/*end setting box*/
/* start landing pagg */
.landing-page {
  min-height: 100vh;
  background-image: url(../images/overlay3.jpg);
  background-size: cover;
  position: relative;
}
.landing-page .overlay {
  background-color: rgb(0 0 0 / 15%);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.header-area {
  position: relative;
  z-index: 2;
  color: white;
  display: flex;
  padding: 15px;
}
.header-area .logo {
  flex: 1.2;
  color: var(--main-color);
  width: 300px;
  padding: 15px;
  font-size: 28px;
  font-weight: bolder;
  letter-spacing: 2px;
}
.header-area .links {
  flex: 3;
  list-style: none;
  padding: 0;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  padding-left: 0;
  font-size: 18px;
}

.header-area .links li {
  display: inline-block;
  margin-left: 10px;
}
.header-area .links li a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.links li a:hover,
.links li a.active {
  color: var(--main-color);
}
.introduction-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
  text-align: center;
  width: 100%;
}
.introduction-text h1 {
  font-size: 34px;
  margin: 0 0 20px;
}

.introduction-text span:first-child {
  color: var(--main-color);
}
.introduction-text span:nth-child(2) {
  color: var(--second-color);
}

.introduction-text p {
  line-height: 1.9;
  margin: 0;
  font-size: 20px;
}

/* end landing pagg */

/* start about us section  */
.about-us {
  /* text-align: center; */
  display: flex;

  padding-block: 50px;
  max-width: 100%;
}
.about-us .info-box {
  flex: 1;
}
.about-us .info-box h2 {
  font-size: 34px;
  font-weight: bold;
  color: var(--main-color);
  margin: 0 0 10px;
}
.about-us .info-box p {
  line-height: 1.8;
  margin: 0;
  font-size: 18px;
  color: gray;
}
.about-us .img-box {
  flex: 1;

  text-align: center;
}
.about-us .img-box img {
  max-width: 98%;
  width: 250px;
}

/* end about us section  */

/* start services section */
.services {
  display: flex;
  padding-block: 30px;
  margin-bottom: 15px;
}
.services .info-box {
  flex: 1;
}
.services .info-box h2 {
  color: var(--main-color);
  font-size: 34px;
}
.services .info-box p {
  color: gray;
}
.services .img-box {
  flex: 2;
  text-align: center;
}
.services .img-box .cards {
  display: flex;
  justify-content: space-between;
}

hr {
  background-color: var(--main-color);
  height: 2px;
}
/* end services section */

/* start skills sec */
.skills {
  background-color: #eee;
  padding: 20px;
}
.skills .skill-box {
  background-color: white;
  display: flex;
  padding: 15px;
  /* position: relative; */
  margin-bottom: 15px;
}
.skill-box .skill-name {
  font-weight: bold;
  width: 200px;
  line-height: 30px;
  text-align: left;
  color: #333;
}
.skill-box .skill-progress {
  position: relative;
  width: 100%;
  left: 0;
}
.skill-box .skill-progress span {
  position: absolute;
  background-color: var(--main-color);
  height: 30px;
  width: 0%;
  text-align: center;
  line-height: 30px;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  transition: 0.6s;
}

/* end skills section  */
.skills .info-box {
  text-align: center;
  padding-block: 20px;
  color: var(--main-color);
}

/* start contacts section */
.contacts {
  background-color: #eee;
  padding: 20px;
}
.contacts .info-box {
  text-align: center;
  padding-block: 20px;
  color: var(--main-color);
}
.contacts .contacts-box {
  background-color: white;
  padding: 15px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  display: flex;
}

.contacts .contacts-box .contacts-items {
  flex: 1;
}
.contacts .contacts-box .img-box {
  flex: 1;
}
.contacts .contacts-box .img-box img {
  height: 300px;
  width: 100%;
}
.contacts .contacts-box .contact-item {
  padding: 2px;
  margin-bottom: 5px;
  /* background-color: #9e9e9e; */
  width: 80%;
  text-align: left;
  padding-left: 20px;
  padding-block: 10px;
}
.contacts .contacts-box .contact-item i {
  margin-right: 8px;
  font-size: 18px;
  opacity: 0.7;
}

.contacts .contacts-box .contact-item span {
  font-size: 18px;
  font-weight: bold;
  opacity: 0.7;
}

/* end skills sec */

/* start footer section */
.footer {
  padding-block: 17px;
  text-align: center;
  background-color: var(--main-color);
  color: white;
}
.footer .endText {
  padding-block: 10px;
  font-size: 18px;
}
.footer .copy-right {
  font-weight: bold;
  font-size: 20px;
  font-family: sans-serif;
  font-style: italic;
}
/* End footer section */
